<mat-sidenav-container fullscreen [ngClass]="{'sombreado': sidenavAbierto}">
    <mat-sidenav #sidenav mode="side">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let menuItem of menuData"
               [routerLink]="menuItem.pagina"
               mat-list-item
               (click)="sidenav.toggle()">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <span>{{ menuItem.menu }}</span>
            </a>
          </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidenav.toggle(); sidenavAbierto = !sidenavAbierto;">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="logout()" style="background-color: black; color: white">
            Log out
        </button>        
    </mat-toolbar>
        <div (click)="sidenav.close(); sidenavAbierto = false;">
            <router-outlet></router-outlet>
        </div>
</mat-sidenav-container>